@charset "UTF-8";
body {
  background-color: pink;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
header img {
  width: 50px;
  height: 50px;
}
header nav {
  display: flex;
  justify-content: center;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header li {
  margin: 0 15px;
}
header a {
  text-decoration: none;
  color: #fff;
}
header a:hover {
  border: 5px solid rgb(236, 33, 145);
}
@media (max-width: 768px) {
  header header {
    flex-direction: column;
  }
  header nav {
    margin-top: 15px;
  }
  header ul {
    flex-direction: column;
    text-align: center;
  }
  header li {
    margin: 10px 0;
  }
}

.producto {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
.producto img {
  width: 50px;
  height: 50px;
}
.producto nav {
  display: flex;
  justify-content: center;
}
.producto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.producto li {
  margin: 0 15px;
}
.producto a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .producto header {
    flex-direction: column;
  }
  .producto nav {
    margin-top: 15px;
  }
  .producto ul {
    flex-direction: column;
    text-align: center;
  }
  .producto li {
    margin: 10px 0;
  }
}

body {
  background-color: pink;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
header img {
  width: 50px;
  height: 50px;
}
header nav {
  display: flex;
  justify-content: center;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header li {
  margin: 0 15px;
}
header a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  header header {
    flex-direction: column;
  }
  header nav {
    margin-top: 15px;
  }
  header ul {
    flex-direction: column;
    text-align: center;
  }
  header li {
    margin: 10px 0;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.for-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  max-width: 400px; 
  width: 100%;
  text-align: center;
}

form ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.conteiner-quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10%;
}
.conteiner-quienes-somos .conteiner-estilo-propio {
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-politica-devolucion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.container-politica-devolucion h1, .container-politica-devolucion h2, .container-politica-devolucion p {
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.gallery .image-container {
  position: relative;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.gallery img {
  width: 500%;
  height: 500px;
  display: block;
}
.gallery img:hover {
  border: 5px solid rgb(236, 33, 145);
}
.gallery .view-button {
  position: absolute;
  top: 95%;
  left: 50%;
  border-radius: 75%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #db3482;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .gallery .image-container {
    width: 100%;
  }
}

.carrusel-principal {
  width: 100%;
  text-align: center;
}

.carrusel-principal img {
  margin: 0 auto;
  width: 100%; 
  height: auto; 
  display: block; 
}

@media only screen and (max-width: 768px) {
  .image-container {
    width: 100%;
  }
}
.formulario h2 {
  display: flex;
  justify-content: center;
}
.formulario p {
  display: flex;
  justify-content: center;
}
.formulario ul {
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relativa;
  bottom: 0;
  width: 100%;
}
footer img {
  width: 50px;
  height: 50px;
}
footer p {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
