.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  
  
  .image-container {
    position: relative;
    margin: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  img {
    width: 500%;
    height: 500px;
    display: block;
    &:hover{
      border:  5px solid rgb(236, 33, 145);
      
    }
  }
  
  .view-button {
    position: absolute;
    top: 95%;
    left: 50%;
    border-radius: 75%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #db3482;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  
  @media only screen and (max-width: 768px) {
    .image-container {
      width: 100%;
    }
  }
  }
  
    

  .carrusel-principal {
    width: 100%; 
    text-align: center;
}
  
  
  .carrusel-principal img {
    margin: 0 auto;
    width: 100%; 
    height: auto; 
    display: block; 
}
    
    
    
  
  






  
  

  




  @media only screen and (max-width: 768px) {
    .image-container {
      width: 100%;
    }
  }

.formulario{
  h2{
    display: flex;
    justify-content: center;
  }
  p{
    display: flex;
    justify-content: center;
  }
  ul{
    
  display: flex;
  justify-content: center;
  padding-left: 5%;
}
}